<div class="container">
<h1>Here's your answer</h1>

<div class="card">
<p>Your question was: <%= @question %></p>
<p>My answer: <%= @answer %></p>
</div>

<p>Would you like ask <%= link_to 'another question?', ask_path%></p>
</div>
